/* The body has a default margin. Remove it via: */
@font-face {
  font-family: treefrog;
  src: url(fonts/treefrog.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
a,
a label {
  cursor: pointer;
  text-decoration: none;
}
p {
padding: 16px 0px;
line-height: 1.5;
color: white;
}
/* ALL DIVS GIVEN BORDER-BOX to avoid redundancy in code and to make formatting consistent when adding padding! */
div {
box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button > a {
font-family: sans-serif;
text-align: center;
}
.first-container, .second-container, .fourth-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
}

.header a:hover {
    color: white;
}

.both-heroes {
display: flex;
flex-direction: row;
padding: 80px 0px 50px 0px;
flex-wrap: wrap; 
justify-content: center;
align-items: flex-start;
}
.header {
  /* HERE IS WHERE YOU ADJUST HEADER PADDING SEPARATELY FROM THE MAIN FIRST CONTAINER 
  (i removed header div and placed it above/outside the first container div) */
padding: 0rem 5rem;
display: flex;
/* space around for header rather than space between looks cleaner with a minimized window because it keeps everything still centered! */
justify-content: space-around;
gap: 25px;
/* allow elements to wrap when window is collapsed */
flex-wrap: wrap;
font-size: 30px;
font-family: treefrog;
margin: 45px 0px;
}
.title-tank {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header ul {
list-style-type: none;
padding: 0px;
margin: 0px;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}
.left-hero {
display: flex;
flex-direction: column;
/* TIP! Justify content is used to vertically align in this case since flex direction is column. */
justify-content: center;
padding-right: 40px;
padding-bottom: 80px;
max-width: 453px;
}
.right-hero {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}
.right-hero img {
  width: 450px; 
  /* OMG IT WORKED */
  /* SOURCE: https://stackoverflow.com/questions/885835/position-an-image-outside-of-its-container */
  position: relative;
  top: -40px;
  z-index: 99;
}
.header a {
  text-decoration: none;
  color: #d70f0f;

}
.left-hero p {
margin-top: 0px;
color: white;
font-size: 18px;
}
.first-container {
  /* background-color: #063441; */
  background: rgb(145,10,10);
  background: linear-gradient(0deg, rgba(145,10,10,1) 0%, rgba(75,5,5,1) 15%, rgba(0,0,0,1) 100%);
  /* SOURCE: https://cssgradient.io/ */
  /* old 0 color was #840f0f */
}
.second-header {
display: flex;
justify-content: center;
}
.second-container {
background-color: rgba(145,10,10,1);
padding: 20px 0px 50px 0px;
}

.third-container {
display: flex;
align-items: center;
/* space around rather than center allows shavo to adapt when screen is minimized */
justify-content:center;
flex-direction: row;
flex-wrap: wrap;
gap: 5px;
/* center third div and set up "padding" on outsides */
width: 90vw;
margin: 0 auto;
}

.third-container h3 {
  color: white;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  flex-wrap: wrap;
  padding: 50px;
  border: 1px solid white;
}

.about-section p {
  text-indent:50px;
  padding: 10px;
  margin: 0px;
  text-align: justify;
}

.about-section h1 {
  padding-bottom: 10px;
}

/* consequently sets height of the about / third container (parent div) << dont manually set height of this
because you want the div height identical to the shavo image height. if you were to set the third container (parent div) height
then when doing flex wrap, the about section would overflow into the meet the band members section 
so i had to basically set the shavo block height, then match the image height to whatever the height was set to for the shavo block */
.shavo-block {
  height: 620px;
}

.shavo-block img {
  height: inherit;
}
/* see how the height is inherited by the image to stretch / fit to the parent div shavo-block */

.all-tanks {
display: flex;
gap: 75px;
justify-content: center;
flex-wrap: wrap;
padding-top: 10px;
}
.tank {
display: flex;
flex-direction: column;
/* remember that when flex-firection is column, align-items is the left-right horizontal centering! */
align-items: center;
width: 200px;
text-align: center;
gap: 5px;
}
.tank p {
  color: white;
  font-size: 18px;
  margin: 0px;
  /* text-align: justify; */
}
.tank img {
  width: 180px;
  height: auto;
  border-radius: 15px;
}

/* updated so that all H1's get these details not just the .left-hero h1 */
h1 {
  font-family: treefrog;
  font-size: 50px;
  color: white;
  font-weight: 900;
  margin: 0px;
}

.second-header h1 {
  margin: 35px;
  color: white;
  font-weight: 900;
}

.header h3 > a {
  font-size: 24px;
  color: #d70f0f;
  margin: 0px;
  flex: none;
}

.header h3 {
  color: #d70f0f;
  font-size: 45px;
}

.shavo-block p {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  color: white;
}

/* .shavo-block {
  height: 759px;
} */

.left-hero button, .grey-notice button {
  border: none;
  border-radius: 6px;
  padding: 7px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.left-hero button {
  width: 160px;
  background-color: rgba(145,10,10,1);
}

.grey-notice button {
  width: 120px;
  background-color: rgb(37 37 37);
}

.left-hero button a, .grey-notice button a {
  color: white;
}
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
.left-hero button:hover {
  background-color: white;
}

.left-hero button:hover a, .grey-notice button:hover a {
  color: black;
}
/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */

.grey-notice button {
  border: solid 1px white;
}

.grey-notice button a {
  color: white;
}
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
.grey-notice button:hover {
  background: white;
}


/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */
.grey-notice {
  background-color: #373434;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  gap: 50px;
  /* this thing below fixed the grey box overhang (width set to a percentage relative to screen size) */
  width: 60%;
  /* ^^^ VERY IMPORTANT! */
  margin: 50px 0px;
}

.button-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.button-box button {
  /* BUTTON VERTICAL SPACING */
  margin: 8px 0px;
}

.grey-notice h3 {
  font-size: 24px;
  color: white;
  margin: 10px 0px 0px 0px;
}

.grey-notice p, .footer p, .footer a {
  color: white;
  font-size: 16px;
  margin: 0px;
}

.footer {
display: flex;
align-items: center;
justify-content: space-around;
padding: 40px 0px;
background: rgb(145,10,10);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(75,5,5,1) 50%, rgba(145,10,10,1) 100%);
}

.social-media-container {
display: flex;
gap: 30px;
}

/* ***************************************** COMIC MENU ***************************************** */
.comic-menu-options h1 {
  line-height: 2.0;
}

/* you must specifiy the first container rules within the context of the comic menu class otherwise it messes up all your other pages */
.comic-menu-options > .first-container{
  /* allows the three menus options to extend the height of the page if needed when window is scrunched */
height: 100%;
  /* raising the menu options */
  padding-top: 10px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-container > .rows {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 655px;
  flex-wrap: wrap;
  gap: 40px;
}

.rows a {
  color: white;
}

.sub-menu {
  flex-direction: column;
  /* display: flex;
  justify-items: center; */
}

.sub-menu a {
  color: #d70f0f;
}

.sub-menu a:hover {
  color: white;
}

/* ***************************************** COMIC PAGES ***************************************** */
.sub-menu h3 {
  /* padding-bottom: 10px; */
  color: white;
}
.annoyed, .sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.annoyed {
  /* fixes the navigation headers in comic to be close to / in line with the width of the comic pages (update this variable if you resize the comic pages) */
  width: 56vw;
  justify-content: space-between;
}

.annoyed h3 {
  /* width: 720px; */
text-align: center;
}

.comic-box-container {
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  /* padding: 20px 0px 0px 0px; */
}

/* ABSOLUTE LIFE HACK is setting the image to a size relative to the view window so it automatically adjusts to your window size. */
.comic-box-container img {
  height: 42vw;
}

