/* The body has a default margin. Remove it via: */
@font-face {
  font-family: treefrog;
  src: url(fonts/treefrog.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a > img:only-child {
  display: block;
}

a,
a label {
  cursor: pointer;
  text-decoration: none;
  /* this is the one place where the color red is stored in the code: #d70f0f is the color i chose from the https://cssgradient.io/ tool! */
  color: #d70f0f;
}
a:hover {
  color: white;
}
p {
padding: 16px 0px;
line-height: 1.5;
color: white;
}
/* ALL DIVS GIVEN BORDER-BOX to avoid redundancy in code and to make formatting consistent when adding padding! */
div {
box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button > a {
font-family: sans-serif;
text-align: center;
}
.first-container, .second-container, .fourth-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
}

.both-heroes {
display: flex;
flex-direction: row;
padding: 80px 80px 45px 80px;
flex-wrap: wrap; 
justify-content: center;
align-items: flex-start;
}
.header {
  /* HERE IS WHERE YOU ADJUST HEADER PADDING SEPARATELY FROM THE MAIN FIRST CONTAINER 
  (i removed header div and placed it above/outside the first container div) */
padding: 0rem 5rem;
display: flex;
/* space around for header rather than space between looks cleaner with a minimized window because it keeps everything still centered! */
justify-content: space-around;
gap: 25px;
/* allow elements to wrap when window is collapsed */
flex-wrap: wrap;
font-size: 30px;
font-family: treefrog;
margin: 45px 0px;
}
.title-tank {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header ul {
list-style-type: none;
padding: 0px;
margin: 0px;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
}
.left-hero {
display: flex;
flex-direction: column;
/* centering the left hero div elements like the text and button */
text-align: center;
align-items: center;
/* TIP! Justify content is used to vertically align in this case since flex direction is column. */
justify-content: center;
padding-right: 40px;
padding-bottom: 80px;
max-width: 453px;
}
.right-hero {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: -40px;

}
.right-hero img {
  width: 450px; 
}
.header a {
  text-decoration: none;
}
.left-hero p {
margin-top: 0px;
color: white;
font-size: 18px;
}
.first-container {
  /* background-color: #063441; */
  background: rgb(145,10,10);
  background: linear-gradient(0deg, rgba(145,10,10,1) 0%, rgba(75,5,5,1) 15%, rgba(0,0,0,1) 100%);
  /* SOURCE: https://cssgradient.io/ */
  /* old 0 color was #840f0f */
}
.second-header {
display: flex;
justify-content: center;
}
.second-container {
background-color: rgba(145,10,10,1);
padding: 20px 0px 50px 0px;
}

.third-container {
display: flex;
align-items: center;
/* space around rather than center allows shavo to adapt when screen is minimized */
justify-content:center;
flex-direction: row;
flex-wrap: wrap;
gap: 5px;
/* center third div and set up "padding" on outsides */
/* width: 90vw; */
/* margin: 0 auto; */
}

.third-container h3 {
  color: white;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 614px;
  flex-wrap: wrap;
  padding: 50px 20px;
  border: 1px solid white;
}

.about-section p {
  text-indent: 50px;
  /* font-size: 16px; */
  padding: 10px;
  margin: 0px;
  text-align: justify;
}

.about-section h1 {
  padding-bottom: 10px;
}

/* consequently sets height of the about / third container (parent div) << dont manually set height of this
because you want the div height identical to the shavo image height. if you were to set the third container (parent div) height
then when doing flex wrap, the about section would overflow into the meet the band members section 
so i had to basically set the shavo block height, then match the image height to whatever the height was set to for the shavo block */
.shavo-block {
  height: 700px;
}

.shavo-block img {
  height: inherit;
}
/* see how the height is inherited by the image to stretch / fit to the parent div shavo-block */

.all-tanks {
display: flex;
gap: 75px;
justify-content: center;
flex-wrap: wrap;
padding-top: 10px;
}
.tank {
display: flex;
flex-direction: column;
/* remember that when flex-firection is column, align-items is the left-right horizontal centering! */
align-items: center;
width: 200px;
text-align: center;
gap: 5px;
}
.tank p {
  color: white;
  font-size: 18px;
  margin: 0px;
  /* text-align: justify; */
}
.tank img {
  width: 180px;
  height: auto;
  border-radius: 15px;
}

/* updated so that all H1's get these details not just the .left-hero h1 */
h1 {
  font-family: treefrog;
  font-size: 50px;
  color: white;
  font-weight: 900;
  margin: 0px;
  /* centers the main third eye title on the homepage when collapsed*/
  text-align: center;
}

.second-header h1 {
  margin: 35px;
  color: white;
  font-weight: 900;
}

.header h3 > a {
  font-size: 24px;
  margin: 0px;
  flex: none;
}

.header h3 {
  font-size: 45px;
}

.shavo-block p {
  font-style: italic;
  font-weight: 300;
  font-size: 36px;
  color: white;
}

/* .shavo-block {
  height: 759px;
} */

.left-hero button, .grey-notice button {
  border: none;
  border-radius: 6px;
  padding: 7px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.left-hero button {
  width: 160px;
  background-color: rgba(145,10,10,1);
}

.grey-notice button {
  width: 120px;
  background-color: rgb(37 37 37);
}

.left-hero button a, .grey-notice button a {
  color: white;
}
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
.left-hero button:hover {
  background-color: white;
}

.left-hero button:hover a, .grey-notice button:hover a {
  color: black;
}
/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */

.grey-notice button {
  border: solid 1px white;
}

.grey-notice button a {
  color: white;
}
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
.grey-notice button:hover {
  background: white;
}


/* making a div with an id then fixing its height, then fitting the image inside to the height of the div using inherit
this removes the stupid weird underhanging space (literally like 4px) from the div
like there was a small gap between the image and bottom of the image div container for some reason */

#shavo-icon img {
  height: 144px;
}

/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */
.grey-notice {
  background-color: #373434;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  gap: 50px;
  /* this thing below fixed the grey box overhang (width set to a percentage relative to screen size) */
  width: 60%;
  /* ^^^ VERY IMPORTANT! */
  margin: 50px 0px;
}

.button-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.button-box button {
  /* BUTTON VERTICAL SPACING */
  margin: 8px 0px;
}

.grey-notice h3 {
  font-size: 24px;
  color: white;
  margin: 10px 0px 0px 0px;
}

.grey-notice p, .footer p, .footer a {
  color: white;
  font-size: 16px;
  margin: 0px;
}


/* ADDED BACK TO TOP LINK FOR INDEX */

  /* NOTE THAT THE MARGIN IS SET TO -50PX USING STYLE IN HTML FILE */

#back-to-top-index {
  display: flex;
  margin-top: -50px;
  height: 50px;
  align-items: center;
  justify-content: center;

}
#back-to-top-index h3 {
padding: 0px;
}


.footer {
display: flex;
align-items: center;
justify-content: space-around;
padding: 40px 0px;
background: rgb(145,10,10);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(75,5,5,1) 50%, rgba(145,10,10,1) 100%);
}

.social-media-container {
display: flex;
gap: 30px;
}

/* ***************************************** COMIC MENU ***************************************** */
.comic-menu-options h1 {
  line-height: 2.0;
}

/* you must specifiy the first container rules within the context of the comic menu class otherwise it messes up all your other pages */
.comic-menu-options > .first-container{
  /* allows the three menus options to extend the height of the page if needed when window is scrunched */
height: 100%;
  /* raising the menu options */
padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comic-menu-container > .rows {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 50px;
  padding: 2px;
}

.comic-menu-container > .rows h1 {
  font-size: 45px;
}

.rows a {
  color: white;
}
/* SET COMIC MENU PICS ON THE LEFT IMAGE DIMENSIONS */
.rows img {
  width: 75px;
  border-radius: 10px;
}


.sub-menu {
  flex-direction: column;
  /* display: flex;
  justify-items: center; */
}

/* ***************************************** COMIC PAGES ***************************************** */
.sub-menu h3 {
  /* padding-bottom: 10px; */
  color: white;
}
.annoyed, .sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.annoyed {
  /* fixes the navigation headers in comic to be close to / in line with the width of the comic pages (update this variable if you resize the comic pages) */
  justify-content: space-between;
}

.annoyed h3 {
  /* if current comic width is set to 56vw, and you want each div about 1/3 of that */
  width: 18.6vw;
  text-align: center;
}

.comic-box-container {
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  /* padding: 20px 0px 0px 0px; */
}

/* ABSOLUTE LIFE HACK is setting the image to a size relative to the view window so it automatically adjusts to your window size. */
/* here, i have set the max width of the submenu div called 'annoyed' and its comic pages below to a fixed width relative to the vw */

/* note that TWO classes are listed here. the submenu header width and the comic page width */
.annoyed, .comic-box-container img {
  width: 56vw;
}

/* ***************************************** media queries ***************************************** */
@media (max-width: 1128px) {
  .both-heroes {
    padding: 20px 0px 45px 0px;
  } 
}


/* narrower query (when you reach a 1062 pixel width aka when the serj pic on the homepage wraps over, do...) */
@media (max-width: 1062px) {

  /* reformats grey notice on homepage */
  .grey-notice {
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
  }
  .button-box {
    gap: 45px;
    flex-direction: row;
  }

  #shavo-icon {
    padding: 0px 50px;
  }

}

@media (max-width: 902px) {
    /* minor padding adjustment (the padding right 40px got taken away) */
    .left-hero {
      padding: 0px 0px 80px 0px;
    }
}

/* narrower query (when you reach an 800 pixel width do...) */
@media (max-width: 800px) {


  .comic-menu-container > .rows h1 {
    font-size: 5vw;
  }

  .comic-menu-container > .rows {
    gap: 5vw;
  }


/* all comic pages take up more space on the screen now for mobile pages */
/* DONT FORGET THE COMMA BETWEEN CLASSES (that's why it wasn't working) */
  .annoyed, .comic-box-container img {
    width: 95vw;
  }

  .rows h1 {
    flex-wrap: wrap;
    font-size: 6vw;
  }
}

@media (max-width: 642px) {
  .button-box {
    gap: 10px;
  }
}

/* narrower query (when you reach a 600 pixel width do...) */
@media (max-width: 600px) {


  /* allows images like 3rd eye serj accent piece and spooky shavo to fill whole width of page for smaller displays */
  img {
    max-width: 100vw;
  }
  /* allows the height to update and override the fixed shavo-block div height previously established on the desktop version */
  .shavo-block {
    height: auto;
  }

  /* center left hero on homepage (padding was previously used in a strange way for desktop (like 0 40 80 0))*/
  .left-hero {
    padding: 0px 30px 80px 30px;
  }

  /* decrease the main THIRD EYE red header font at top to 30px so that eye logos fit and overall look is centered */
  .header h1 {
    font-size: 30px;
  }
  .all-tanks {
   /* closes the gap between all the character descriptions for mobile */
    gap: 10px;
  }

  .footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 375px) {
  /* give header less padding to allow triangles in the logo to breathe) */

  .header {
    padding: 0rem 1rem;
  }

  /* allow the triangles to wrap in the header if things get too tight */
  .title-tank {
    flex-wrap: wrap;
    justify-content: center;
  }

/* for super skinny dimensions, allow social media icons to form into a square not a straight line */
  .social-media-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* ***************************************** LORE PAGES ***************************************** */

.biggest-lore-box {
  flex-direction: column;
}

.biggest-lore-box p {
  margin: 0px;
}

/* making every image in the main body thing (not footer) with soft corners */
.biggest-lore-box img {
  border-radius: 5px;
}

/* setting flex properties for most divs */
.lore-header, .lore-box, .fanart-container, .biggest-lore-box, .faq-paragraph, .lore-paragraph, .trivia-box, .lore-trivia, .lore.fanart, .fanart-container, .lore-container-1, .lore-container-2, .lore-trivia {
  display: flex;
  align-items: center;
}
.lore-container-1, .lore-container-2, .lore-trivia,.lore-fanart, .biggest-lore-box, .faq-paragraph, .lore-paragraph  {
  justify-content: center;
  flex-wrap: wrap;
}
.lore-container-1 {
  background: rgb(145,10,10);
  background: linear-gradient(0deg, rgba(145,10,10,1) 0%, rgba(75,5,5,1) 15%, rgba(0,0,0,1) 100%);
  border-bottom: 1px solid white; 
}
.lore-header {
  padding: 10px 0px 0px 0px;
  justify-content: center;
}

.lore-box, .trivia-box {
  gap: 50px;
  justify-content: space-around;
  /* DISABLING FLEX WRAP WRAP HERE */
  /* flex-wrap: wrap; */
  padding: 0px 7vw;
}
.lore-container-2 {
  border-bottom: 1px solid white; 
}

/* .faq-paragraph p, .lore-paragraph p, .trivia-paragraph p {
  setting width below will mess up stuff
  width: 350px;
} */
.lore-trivia {
  background: rgb(145,10,10);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(75,5,5,1) 50%, rgba(145,10,10,1) 100%);
}


.lore-fanart {
  flex-direction: column;
}
.fanart-container {
  background-color: white;
  /* subject to change height here */
  height: 800px;
  /* makes whole background of fanart tank white not black */
  width: 1000px;
  padding-top: 8px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
